* {
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 90%;
    padding: 0;
    height: 100vh;
}

.header {
    margin: 0 auto;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    height: 10vh;
}

.logo_and_nav {
    display: flex;
    justify-content: space-between;
}

.navigation {
    display: flex;
    justify-content: space-between;
    width: 50vw;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
}

.btn {
    width: 15vw;
    height: 47px;
    background: rgba(1, 182, 213, 0.99);
    border-radius: 10px;
    color: white;
    cursor: pointer;
    border: none;
}

.nav-item {
    display: flex;
    justify-content: space-between;
    margin-top: 27px;
    width: 35vw;
}

.nav-item a {
    text-decoration: none;
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    color: #000000;
}

.image {
    width: 129px;
    height: 30px;
}

.img {
    margin-top: 20px;
}

.img2 {
    position: absolute;
    width: 45%;
    height: 57%;
    right: 50px;
    top: 204px;
}


.section_2 {
    width: 90vw;
    margin: 0 auto;
}

.background {
    width: 72%;
    background: rgba(196, 196, 196, 0.68);
    position: absolute;
    height: 92vh;
}

.text-1 {
    font-weight: 400;
    font-size: 20vw;
    text-transform: lowercase;
    color: #000000;
    height: 5vw;
    position: relative;
    top: -9vw;
    left: 4vw;
}

.text-2 {
    height: 2vw;
    font-weight: 500;
    font-size: 3.5vw;
    color: white;
    text-transform: uppercase;
    position: relative;
    left: 4vw;
    bottom: 5vw;
}

.text-3 {
    height: 2vw;
    font-weight: 600;
    font-size: 1.8vw;
    color: white;
    text-transform: lowercase;
    position: relative;
    left: 4vw;
    bottom: 1vw;
}

.section_3 {
    display: flex;
    margin-top: 20vh;
}

.img3 {
    width: 95%;
    height: 90%;
}

.text-4 {
    width: 95%;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    color: #079FD0;
}

.text-5 {
    width: 90%;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

.btn-2 {
    width: 90%;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #079FD0;
    text-decoration: none;
    text-transform: uppercase;
}

.part-1 {
    width: 45vw;
}

.part-2 {
    width: 45vw;
}

.img4 {
    width: 95%;
    height: 90%;

}

.section_4 {
    display: flex;
    margin-top: 111px;
}

.text-6 {
    width: 95%;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    color: #079FD0;
}

.text-7 {
    width: 90%;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    color: #000000;
}

.part-3 {
    margin-left: 163px;
}

.text-8 {
    width: 100vw;
    height: 10vh;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    color: #079FD0;
    text-align: center;
}

.grid {
    display: flex;
    justify-content: space-between;
    width: 90vw;
    margin: 0 auto;
}

.ebo_1 {
    width: 25vw;
    height: 30vh;
}

.ebo_2 {
    width: 25vw;
    height: 30vh;
}

.ebo_3 {
    width: 25vw;
    height: 30vh;
}

.btn_grid {
    width: 20vw;
    height: 10vh;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 35px;
    color: #079FD0;
    text-decoration: none;
    text-transform: uppercase;
}

.grid_text1 {
    width: 20vw;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #079FD0;
}

.grid_text2 {
    width: 20vw;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

.grid_text3 {
    width: 20vw;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #079FD0;
}

.grid_text4 {
    width: 20vw;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: black;
}

.grid_text5 {
    width: 20vw;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #079FD0;
}

.grid_text6 {
    width: 20vw;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

.grid_one {
    width: 30%;
}

.grid_two {
    width: 30%;
}

.grid_three {
    width: 30%;
}

.container_for_footer {
    height: 339px;
    background: rgba(196, 196, 196, 0.2);
    margin-top: 43px;
    display: flex;
    justify-content: space-between;
}

.flex-1 {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    margin-top: 50px;
}

.flex-1 a {
    text-decoration: none;
}

.logo {
    width: 129px;
    height: 30px;
    margin-top: 60px;
    margin-left: 52px;
}

.last {
    margin-top: 50px;
    margin-right: 50px;
}